ion-grid{
    border-collapse: collapse;
    width: 100%;
}
ion-col{
    border: 1px solid black;
    padding:8px;
}
ion-row:first-child ion-col{
    font-weight: bold;
    background-color:indianred;
}
.button{
    float: right;
    color: indianred;
}