
<ion-content>
  <ion-grid>
    <ion-row justify-Content-Center>
      <ion-col align-Self-Center size-lg="18">
        <div>
        <h4>Login Form</h4>
        
      </div>
      <div class="input">
          <ion-item>
            <ion-icon name="person"></ion-icon><ion-input  type="text" aria-label="username" value="raph.dsi"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="eye-off"></ion-icon><ion-input type="password" aria-label="password" value="raphowona"></ion-input>
          </ion-item>
        </div>
          <div>
       <small><b><i>forgot password?</i></b></small><br>
      </div>
       <div class="button">

       <ion-button color="danger" type="submit" shape="round">Login</ion-button>
    </div>
      </ion-col>
</ion-row>
  </ion-grid>
</ion-content>