$white-color:#fff;
$height100:100%;

ion-grid{
    width:100%;
    height:$height100;
    background:#dfdfdf;
    display: grid;
    place-items: center;
    
}
.input{
    display: grid;
}
h4{
    margin: 0;
    padding: 0;
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    
}

ion-row{
    height:$height100;
}

ion-col{
    border:1px solid #488aff;
    background:$white-color;
}

ion-button{
    font-weight:300;

}

@media (min-width:240px) and (max-width:768px){
    ion-grid{
        background:$white-color;
    }
    ion-col{
        border:none;
    }
}